<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/108583cd-4f6e-4662-a38e-bd9520f78b9c/resourceGroups/HRMApi_RG/providers/Microsoft.ContainerRegistry/registries/HRMRegistryBetty</ResourceId>
    <ResourceName>HRMRegistryBetty</ResourceName>
    <ResourceGroup>HRMApi_RG</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://hrmregistrybetty.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b11e0145-7423-4324-b27f-4fdea90a5dc2</ProjectGuid>
  </PropertyGroup>
</Project>